<% flash.each do |message_type, message_content| %>
    <div class="ui <%= message_type == "success" ? "positive" : "negative" %> message">
        <i class="close icon"></i>
        <div class="header">
            <%= message_content %>
        </div>
    </div>
<% end %>